h1 {
  color: red;
  text-align: center;
}

/*To Do Items*/

ul {
  line-height: 40px
}

.divItems input {
  position: relative;
  left: -30px;
}

.divItems label {
  display: inline-block;
  width:
}

li {
  border: 1px solid;
  border-radius: 3px;
  list-style: none;
  display:
  line-height: 40px;
  text-align: left;
  margin: 0 0 10px 10px;
  width: 50%;
}

.divItems button {
  position: relative;
  left: 100%;
}
/* ==== To Do END ==== */

/* ==== Completed Items ==== */
.divCompleted input {
  position: relative;
  left: -30px;
}

.divCompleted button {
  position: relative;
  left: 100%;
}
/* ==== Completed END ==== */

btn {
  display: inline-block;
}
